*/cmake-build-debug/
*/.idea/
tasks.json
*.dSYM/
.vscode
Info.plist
/VisualStuio2019_HW/.vs/VisualStuio2019_HW/v16
/VisualStuio2019_HW/VisualStuio2019_HW/VisualStuio2019_HW.vcxproj
/VisualStuio2019_HW/VisualStuio2019_HW/VisualStuio2019_HW.vcxproj.filters
/VisualStuio2019_HW/VisualStuio2019_HW/VisualStuio2019_HW.vcxproj.user
/VisualStuio2019_HW/VisualStuio2019_HW.sln
Udacity_Cpp/Writing_A_Star/.vs/Writing_A_Star/v16/.suo
*.db
*.opendb
*.ipch
*.exe
*.ilk
*.pdb
*.sln
*.obj
*.idb
*.log
*.tlog
*.vcxproj
*.filters
*.user
Udacity_Cpp/Initialize_Open_Vector/.vs/Initialize_Open_Vector/v16/.suo
Udacity_Cpp/PassByReference/.vs/PassByReference/v16/.suo
Udacity_Cpp/Comparison_Function/.vs/Comparison_Function/v16/.suo
